<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chen.csmall.product.mapper.AttributeTemplateMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_attribute_template (
           name, pinyin, keywords, sort
        ) VALUES (
                    #{name } ,#{pinyin}, #{keywords}, #{sort}
                 )
    </insert>

    <delete id="deleteById">
        DELETE FROM pms_attribute_template WHERE id=#{id}
    </delete>

    <!--    int count();-->
    <select id="count" resultType="int">
        SELECT  COUNT(*) FROM pms_attribute_template
    </select>

<!--    int countByName(String name);-->
    <select id="countByName" resultType="int">
        SELECT COUNT(*) FROM pms_attribute_template WHERE name=#{name}
    </select>

<!--    countByNameAndNotId-->
    <select id="countByNameAndNotId" resultType="int">
        SELECT COUNT(*) FROM pms_attribute_template WHERE name=#{name}  AND id!=#{id}
    </select>

    <!--    AttributeStandardVO getStandardById(Long id);-->
    <select id="getStandardById" resultMap="StandardResultMap">
        SELECT
        <include refid="StandardQueryFields"/>
        FROM pms_attribute_template
        WHERE id=#{id}
    </select>

    <sql id="StandardQueryFields">
        <if test="true">
            id, name, pinyin, keywords, sort
        </if>
    </sql>

    <resultMap id="StandardResultMap" type="cn.chen.csmall.product.pojo.vo.AttributeTemplateStandardVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="pinyin" property="pinyin"/>
        <result column="keywords" property="keywords"/>
        <result column="sort" property="sort"/>
    </resultMap>

    <!--    List<AlbumListItemVO> list();-->
    <select id="list" resultMap="ListResultMap">
        SELECT
        <include refid="ListResultMap"></include>
        FROM
        pms_attribute_template
        ORDER BY
        sort DESC, id DESC
    </select>

    <sql id="ListResultMap">
        <if test="true">
            id, name, pinyin, keywords, sort
        </if>
    </sql>

    <resultMap id="ListResultMap" type="cn.chen.csmall.product.pojo.vo.AttributeTemplateListItemVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="pinyin" property="pinyin"/>
        <result column="keywords" property="keywords"/>
        <result column="sort" property="sort"/>
    </resultMap>

    <!-- int insertBatch(List<Album> albumList); -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_attribute_template (
        name, pinyin, keywords, sort, gmt_create, gmt_modified
        ) VALUES
        <foreach collection="list" item="attributeTemplate" separator=",">
            (
            #{attributeTemplate.name}, #{attributeTemplate.pinyin}, #{attributeTemplate.keywords}, #{attributeTemplate.sort},
            #{attributeTemplate.gmtCreate}, #{attributeTemplate.gmtModified}
            )
        </foreach>
    </insert>

    <!-- int deleteByIds(Long[] idList); -->
    <delete id="deleteByIds">
        DELETE FROM pms_attribute_template WHERE id IN (
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <update id="update">
        UPDATE
        pms_attribute_template
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="pinyin != null">
                pinyin=#{pinyin},
            </if>
            <if test="keywords != null">
                keywords=#{keywords},
            </if>
            <if test="sort != null">
                sort=#{sort},
            </if>
            <if test="gmtCreate != null">
                gmt_create=#{gmtCreate}
            </if>
            <if test="gmtModified">
                gmt_modified=#{gmtModified}
            </if>
        </set>
        WHERE id=#{id}
    </update>
</mapper>
