<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chen.csmall.product.mapper.AttributeMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_attribute (
        template_id , name, description, type, input_type, value_list,
        unit, sort, is_allow_customize
        )
        VALUES (
        #{templateId}, #{name}, #{description}, #{type}, #{inputType}, #{valueList},
        #{unit}, #{sort}, #{isAllowCustomize}
        )
    </insert>

    <delete id="deleteById">
        DELETE FROM pms_attribute WHERE id=#{id}
    </delete>

<!--    int count();-->
    <select id="count" resultType="int">
        SELECT  COUNT(*) FROM pms_album
    </select>

<!--    AttributeStandardVO getStandardById(Long id);-->
    <select id="getStandardById" resultMap="StandardResultMap">
        SELECT
            <include refid="StandardQueryFields"/>
        FROM pms_attribute
        WHERE id=#{id}
    </select>

    <sql id="StandardQueryFields">
        <if test="true">
            id, template_id, name, description, type, input_type,
            value_list, unit, sort, is_allow_customize
        </if>
    </sql>

    <resultMap id="StandardResultMap" type="cn.chen.csmall.product.pojo.vo.AttributeStandardVO">
        <id column="id" property="id"/>
        <result column="template_id" property="templateId"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="type" property="type"/>
        <result column="input_type" property="inputType"/>
        <result column="value_list" property="valueList"/>
        <result column="unit" property="unit"/>
        <result column="sort" property="sort"/>
        <result column="is_allow_customize" property="isAllowCustomize"/>
    </resultMap>

<!--    List<AlbumListItemVO> list();-->
    <select id="list" resultMap="ListResultMap">
        SELECT
            <include refid="ListResultMap"></include>
        FROM
            pms_attribute
        ORDER BY
            sort DESC, id DESC
    </select>

    <sql id="ListResultMap">
        <if test="true">
            id, template_id, name, description, type,
            input_type, value_list, unit, sort, is_allow_customize
        </if>
    </sql>

    <resultMap id="ListResultMap" type="cn.chen.csmall.product.pojo.vo.AttributeListItemVO">
        <id column="id" property="id"/>
        <result column="template_id" property="templateId"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="type" property="type"/>
        <result column="input_type" property="inputType"/>
        <result column="value_list" property="valueList"/>
        <result column="unit" property="unit"/>
        <result column="sort" property="sort"/>
        <result column="is_allow_customize" property="isAllowCustomize"/>
    </resultMap>
</mapper>
